.banner-area {
    background-color:rgb(65, 100, 200) ;
    height: 220px;
    color: white;
}

.banner-area h1 {
    padding-top: 20px;
    letter-spacing: 3px;
}

.banner-area h2 {
    font-family: Roboto, cursive;
    padding: 10px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}
.banner-area h2 a {
    color: white;
    font-weight: bold;
}
.banner-area h2 a:hover {
    color: rgb(65, 100, 200);
    background-color: white;
}

.logo {
    float: left;

    margin: 10px;
}
