main {
    width: 80% ;
    text-align: left;
    color: rgb(65, 100, 200);
    margin: auto;
    padding: 10px;

}

main h1 {
    font-family: "Dancing Script", cursive;
    text-align: center;
}
main p {
    padding: 5px;
    line-height: 1.8em;
    text-align: justify;
}


main p .denomination {
  color: blue;
  font-weight: bold;
}
main hr {
  width: 40%;
  margin: 20px auto;
  border: 2pt solid black ;
}
.conteneurAssociationGeral {
  display: flex;
  flex-direction: row;
}

.conteneurAssociation1 {
  width: 45%;
  font-size: 1.2em;
}  
.conteneurAssociation2 {
  width: 45%;
  margin-left: 10%;
  color: rgb(128, 0, 128);
  font-size: 1.2em;
}
  .box {
    background-color: #e6f3f7;
    border-radius: 15px 50px;
    align-items: left;
    padding: 10px;
    line-height: 1.5em;
  }
  
  .conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
  }

  
.corps {
  padding-bottom: 120px;
}
  

  
