main {
    width: 80% ;
    text-align: left;
    color: rgb(65, 100, 200);
    margin: auto;
    padding: 10px;
    // background-color: #eae6fc;
}

main h1 {
    font-family: "Dancing Script", cursive;
    text-align: center;
}
main p {
    padding: 5px;
    line-height: 1.8em;
    text-align: justify;
}
main ol {
  width: 60%;
  margin: auto;
  padding: 5px;
  list-style-type: lower-roman;
}
main ol li {
  margin: 5px;
}
main p a.siteweb {
  font-style: italic;
  color: deeppink;
}
main ol li  a.siteweb {
  font-style: italic;
  color: deeppink;

}
main p .denomination {
  color: blue;
  font-weight: bold;
}
main hr {
  width: 40%;
  margin: 20px auto;
  border: 2pt solid black ;
}
  
  .box {
    background-color: #d0f2fa;
    border-radius: 10px;
    border: 3pt dashed rgb(225, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: left;
    // justify-content: center;
    padding: 10px;
    line-height: 1.5em;
  }
  
  .conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
  }
  

  

  
