.contact-container {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 2%;
}

#inputcontact, #messagecontacter {
    width: 100%;
    border-color: rgb(7, 7, 112);
    border-style: solid;
    height: 2em;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1em;
}

#messagecontacter {
    resize: vertical;
    border-color: rgb(7, 7, 112);
    border-style: solid;
    border-radius: 20px 20px 0px 20px;
    height: 10em;
    padding: 1em;
}

#send {
    padding: 1em;
    background-color: rgb(7, 7, 112);
    border: none;
    border-radius: 20px;
    font-size: 1em;
    color: white;
    width: 40%;
}

#send:hover {
    font-weight: bold;
    cursor: pointer;
}

#reset {
    padding: 1em;
    background-color: rgb(165, 8, 8);
    border: none;
    border-radius: 20px;
    font-size: 1em;
    color: white;
    width: 40%;
}

#reset:hover {
    font-weight: bold;
    cursor: pointer;
}

#contactlabel {
    font-weight: bold;
}

#formcontact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 2em;
}

#contactnom {
    grid-column: 1 / 2;
}

#mailcontact {
    grid-column: 2 / 3;
}

#sujetcontact {
    grid-column: 3 / 4;
}

#messagecontact {
    grid-column: 1 / 4;
}

#button-container {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
}